.card{
    border-radius: 0;
    border: 0;
    padding: 5px;    

    .card-img-top{
        border-radius: 0;
    }    

    .card-title {
        position: absolute;
        bottom: 5px;        
        font-size: 1.5em;
        padding: 10px;
        width: 97%;        
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.4);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);        
        margin-bottom: 0;
    }
}

form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    .input-group{
        .form-control{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }        

        .input-group-btn{
            .btn{
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }            
        }
    }    
}